<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard!</p>

<p>Please fill in as little or as much information as you'd like and click the submit button on the bottom to send the information off. I've included three Misc. spots for phone numbers, favorite foods, or whatever else you may want on the web. On your profile page, you can see  your listings and easily share your Social Media links and information easily.</p>

<br />

<form method="post" action="/">
<!-- method-override in NPM -->
<!--  -->

  <div class="form-group">
    <label>Facebook</label>
    <input type="text" class="form-control" placeholder="Enter Facebook Username or URL" name="facebook">
  </div>

  <div class="form-group">
    <label>Twitter</label>
    <input type="text" class="form-control" placeholder="Enter Twitter Username or URL" name="twitter">
  </div>

  <div class="form-group">
    <label>Instagram</label>
    <input type="text" class="form-control" placeholder="Enter Instagram Username" name="instagram">
  </div>

  <div class="form-group">
    <label>Youtube</label>
    <input type="text" class="form-control" placeholder="Enter Youtube Username or URL" name="youtube">
  </div>

  <div class="form-group">
    <label>LinkedIn</label>
    <input type="text" class="form-control" placeholder="Enter LinkedIn Username or URL" name="linkedin">
  </div>

  <div class="form-group">
    <label>Google+</label>
    <input type="text" class="form-control" placeholder="Enter Google+ Username or URL" name="googleplus">
  </div>

  <div class="form-group">
    <label>Pinterest</label>
    <input type="text" class="form-control" placeholder="Enter Pinterest Username or URL" name="pinterest">
  </div>

  <div class="form-group">
    <label>Tumblr</label>
    <input type="text" class="form-control" placeholder="Enter Tumblr URL" name="tumblr">
  </div>

  <div class="form-group">
    <label>Snapchat</label>
    <input type="text" class="form-control" placeholder="Enter Snapchat Username" name="snapchat">
  </div>

  <div class="form-group">
    <label>Reddit</label>
    <input type="text" class="form-control" placeholder="Enter Reddit Username" name="reddit">
  </div>

  <div class="form-group">
    <label>Flickr</label>
    <input type="text" class="form-control" placeholder="Enter Flickr Username or URL" name="flickr">
  </div>

  <div class="form-group">
    <label>Miscellaneous</label>
    <input type="text" class="form-control" placeholder="Enter Misc. Info" name="misc1">
  </div>

  <div class="form-group">
    <label>Miscellaneous</label>
    <input type="text" class="form-control" placeholder="Enter Misc. Info" name="misc2">
  </div>

  <div class="form-group">
    <label>Miscellaneous</label>
    <input type="text" class="form-control" placeholder="Enter Misc. Info" name="misc3 ">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>


</form>
