<!-- Login Partial -->
<h1>Introducing WhatAbout</h1>
<p>"Oh, you're not on XYZ social media- but what about...?"</p>
<p>Welcome to WhatAbout, a small but wonderful app that you can use to provide links to all your social media accounts with ease. Please sign in to provde a WhatAbout link which will have as many or as few of your social media accounts on it as you'd wish.</p>
<br />
<h2 class="page-header">Account Login</h2>

<!-- Login form of app -->
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
