<h2 class="page-header">Your Package</h2>
<p>Share your social media package of links now! Simply right click, copy, and paste the above URL to link your friends and other users to this page.</p>

<p>Form will go here.</p>
